:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin-left: 5px;
    margin-right: 5px;
}

body {
    background: linear-gradient(#ffffff, #d1d1d1);
}

h1.title {
    font-family: cursive, sans-serif;
    font-size: 3rem;
}
h1.title + a {
    font-size: 1rem;
    font-style: italic;
    margin-left: 10px;
}
h2.subtitle {
    font-family: cursive, sans-serif;
    font-size: 2.3rem;
    text-decoration: rgba(130, 130, 130, 60%) double underline;
    border-top: 0.5rem solid rgba(0,0,0,75%);
}

img.cover {
    width: 500px;
    height: auto;
    border: 7px ridge rgba(0, 0, 0, 60%);
}
.cover + figcaption {
    font-size: 1.0rem;
    font-style: italic;
    margin-left: 10px;
}

p.description {
    font-size: 1.2rem;
    margin-left: 15px;
}
p.description::first-letter {
    font-size: 2rem;
}

ul.ul-ingredients-list {
    list-style: "~ " outside;
}
ul.ul-ingredients-list > li {
    font-size: 1.3rem;
    padding-left: 10px;
    margin: 0px;
}

ol.ol-steps-list {
    list-style: 1 outside;
}
ol.ol-steps-list > li {
    font-size: 1.3rem;
    border: 2px solid rgba(0, 0, 0, 60%);
    border-radius: 15px;
    padding-left: 10px;
}
